@media (min-width: 1200px){
    div.first{
        width: 100%;
        position: absolute;
        height: 200px;
        top:1000px;
        text-align: center;
    }
    div.first>h4{
        color: #787887;
        margin-bottom: 15px;
    }
    div.first>button{
        font-size: 40px;
        border-radius: 20px;
        color: #26263e;
        text-transform: capitalize;
    }
    div.first>section#root>div.post{
        width:20%;
        box-sizing: border-box;
        display: inline-block;
        margin-left:2%;
        text-align: left;
        text-transform: capitalize;
    }
    div.first>section#root>div.post>h4:nth-of-type(1){
        font-size: 25px;
        font-weight: bold;
        color:#26263e;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    div.first>section#root>div.post>h4:nth-of-type(2){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(3){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(4){
        color: #787887;
        margin-bottom: 5px;
    }
    section.loc{
        width: 100%;
        margin-top: 400px;
    }
    section.loc>img{
        width: 100%;
    }
}
@media (min-width: 990px) and (max-width: 1200px){
    div.first{
        position: absolute;
        top:850px;
        text-align: center;
        width: 100%;
    }
    div.first>h4{
        color: #787887;
        margin-bottom: 15px;
    }
    div.first>button{
        font-size: 40px;
        border-radius: 20px;
        color: #26263e;
        text-transform: capitalize;
    }
    div.first>section#root>div.post{
        width:20%;
        box-sizing: border-box;
        display: inline-block;
        margin-left:2%;
        text-align: left;
        text-transform: capitalize;
    }
    div.first>section#root>div.post>h4:nth-of-type(1){
        font-size: 25px;
        font-weight: bold;
        color:#26263e;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    div.first>section#root>div.post>h4:nth-of-type(2){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(3){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(4){
        color: #787887;
        margin-bottom: 5px;
    }
    section.loc>img{
        width: 100%;
        margin-top: -200px;
    }
}
@media (min-width: 768px) and (max-width: 990px){
    div.first{
        position: absolute;
        top:800px;
        text-align: center;
        width: 100%;
    }
    div.first>h4{
        color: #787887;
        margin-bottom: 15px;
    }
    div.first>button{
        font-size: 40px;
        border-radius: 20px;
        color: #26263e;
        text-transform: capitalize;
    }
    div.first>section#root>div.post{
        width:40%;
        box-sizing: border-box;
        display: inline-block;
        margin-left:10%;
        text-align: left;
        text-transform: capitalize;
    }
    div.first>section#root>div.post>h4:nth-of-type(1){
        font-size: 25px;
        font-weight: bold;
        color:#26263e;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    div.first>section#root>div.post>h4:nth-of-type(2){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(3){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(4){
        color: #787887;
        margin-bottom: 5px;
    }
    section.loc{
        margin-top:200px;
    }
    section.loc>img{
        width: 100%;
        margin-top: 900px;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    div.first{
        position: absolute;
        top:1100px;
        text-align: center;
        width: 100%;
    }
    div.first>h4{
        color: #787887;
        margin-bottom: 15px;
    }
    div.first>button{
        font-size: 40px;
        border-radius: 20px;
        color: #26263e;
        text-transform: capitalize;
    }
    div.first>section#root>div.post{
        width:40%;
        box-sizing: border-box;
        display: inline-block;
        margin-left:10%;
        text-align: left;
        text-transform: capitalize;
    }
    div.first>section#root>div.post>h4:nth-of-type(1){
        font-size: 25px;
        font-weight: bold;
        color:#26263e;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    div.first>section#root>div.post>h4:nth-of-type(2){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(3){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(4){
        color: #787887;
        margin-bottom: 5px;
    }
    section.loc{
        width: 100%;
        margin-top:1400px;
    }
    section.loc>img{
        width: 100%;
    }
}
@media (max-width: 540px){
    div.first{
        position: absolute;
        top:1000px;
        text-align: center;
        width: 100%;
    }
    div.first>h4{
        color: #787887;
        margin-bottom: 15px;
    }
    div.first>button{
        font-size: 40px;
        border-radius: 20px;
        color: #26263e;
        text-transform: capitalize;
    }
    div.first>section#root>div.post{
        width:80%;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
    }
    div.first>section#root>div.post>h4:nth-of-type(1){
        font-size: 25px;
        font-weight: bold;
        color:#26263e;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    div.first>section#root>div.post>h4:nth-of-type(2){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(3){
        color: #787887;
        margin-bottom: 5px;
    }
    div.first>section#root>div.post>h4:nth-of-type(4){
        color: #787887;
        margin-bottom: 5px;
    }
    section.loc{
        margin-top:1700px;
    }
    section.loc>img{
        width: 100%;
    }
}