@media (min-width: 1200px){
    section#pricing{
        width: 70%;
        height: 1000px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        top:250px;
        left: 15%;
        text-align: center;
        margin-bottom: 300px;
    }
    section#pricing>div.itempricing{
        width: 30%;
        height: 450px;
        border: 3px #f3f5fa solid;
        border-radius: 5px;
    }
    section#pricing>div.itempricing>div{
        width: 100%;
        height: 150px;
        background-color: #f3f5fa;
        padding-top:50px ;
    }
    section#pricing>div.itempricing>div>i{
        color: #1f1f34;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
    section#pricing>div.itempricing>div>div{
        display: flex;
        justify-content: center;
        color: #1f1f34;
    }
    section#pricing>div.itempricing>div>div>h1{
        font-size: 40px;
    }
    section#pricing>div.itempricing>div>div>h4{
        margin-top: 20px;
    }
    section#pricing>div.itempricing>h5{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #5e5e70;
        font-size: 18px;
    }
    section#pricing>div.itempricing>section{
        width: 120px;
        height: 40px;
        text-align: center;
        color: #5e5e70;
        margin: 20px auto;
        background-color: #f1f6f1;
        border-radius:5px;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section>a{
        font-size: 16px;
        line-height:40px;
        text-decoration: none;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section:hover{
        background-color: #7dc22b;
        color: whitesmoke !important;
    }
    section#pricing>div.itempricing>section:hover>a{
        color: whitesmoke !important;
    }
}
@media (min-width: 990px) and (max-width: 1200px){
    section#pricing{
        width: 90%;
        height: 1000px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        top:50px;
        left: 5%;
        text-align: center;
        margin-bottom: 300px;
    }
    section#pricing>div.itempricing{
        width: 30%;
        height: 450px;
        border: 3px #f3f5fa solid;
        border-radius: 5px;
    }
    section#pricing>div.itempricing>div{
        width: 100%;
        height: 150px;
        background-color: #f3f5fa;
        padding-top:50px ;
    }
    section#pricing>div.itempricing>div>i{
        color: #1f1f34;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
    section#pricing>div.itempricing>div>div{
        display: flex;
        justify-content: center;
        color: #1f1f34;
    }
    section#pricing>div.itempricing>div>div>h1{
        font-size: 40px;
    }
    section#pricing>div.itempricing>div>div>h4{
        margin-top: 20px;
    }
    section#pricing>div.itempricing>h5{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #5e5e70;
        font-size: 18px;
    }
    section#pricing>div.itempricing>section{
        width: 120px;
        height: 40px;
        text-align: center;
        color: #5e5e70;
        margin: 20px auto;
        background-color: #f1f6f1;
        border-radius:5px;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section>a{
        font-size: 16px;
        line-height:40px;
        text-decoration: none;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section:hover{
        background-color: #7dc22b;
        color: whitesmoke !important;
    }
    section#pricing>div.itempricing>section:hover>a{
        color: whitesmoke !important;
    }
}
@media (min-width: 768px) and (max-width: 990px){
    section#pricing{
        width: 90%;
        height: 1000px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        top:150px;
        left: 5%;
        text-align: center;
        margin-bottom: 300px;
    }
    section#pricing>div.itempricing{
        width: 30%;
        height: 450px;
        border: 3px #f3f5fa solid;
        border-radius: 5px;
    }
    section#pricing>div.itempricing>div{
        width: 100%;
        height: 150px;
        background-color: #f3f5fa;
        padding-top:50px ;
    }
    section#pricing>div.itempricing>div>i{
        color: #1f1f34;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
    section#pricing>div.itempricing>div>div{
        display: flex;
        justify-content: center;
        color: #1f1f34;
    }
    section#pricing>div.itempricing>div>div>h1{
        font-size: 40px;
    }
    section#pricing>div.itempricing>div>div>h4{
        margin-top: 20px;
    }
    section#pricing>div.itempricing>h5{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #5e5e70;
        font-size: 18px;
    }
    section#pricing>div.itempricing>section{
        width: 120px;
        height: 40px;
        text-align: center;
        color: #5e5e70;
        margin: 20px auto;
        background-color: #f1f6f1;
        border-radius:5px;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section>a{
        font-size: 16px;
        line-height:40px;
        text-decoration: none;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section:hover{
        background-color: #7dc22b;
        color: whitesmoke !important;
    }
    section#pricing>div.itempricing>section:hover>a{
        color: whitesmoke !important;
    }
}
@media (min-width: 540px) and (max-width: 768px){
    section#pricing{
        width: 100%;
        height: 1300px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        top:50px;
        text-align: center;
        margin-bottom: 300px;
    }
    section#pricing>div.itempricing{
        width: 45%;
        height: 450px;
        border: 3px #f3f5fa solid;
        margin-bottom: 45px;
        border-radius: 5px;
    }
    section#pricing>div.itempricing>div{
        width: 100%;
        height: 150px;
        background-color: #f3f5fa;
        padding-top:50px ;
    }
    section#pricing>div.itempricing>div>i{
        color: #1f1f34;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
    section#pricing>div.itempricing>div>div{
        display: flex;
        justify-content: center;
        color: #1f1f34;
    }
    section#pricing>div.itempricing>div>div>h1{
        font-size: 40px;
    }
    section#pricing>div.itempricing>div>div>h4{
        margin-top: 20px;
    }
    section#pricing>div.itempricing>h5{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #5e5e70;
        font-size: 18px;
    }
    section#pricing>div.itempricing>section{
        width: 120px;
        height: 40px;
        text-align: center;
        color: #5e5e70;
        margin: 20px auto;
        background-color: #f1f6f1;
        border-radius:5px;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section>a{
        font-size: 16px;
        line-height:40px;
        text-decoration: none;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section:hover{
        background-color: #7dc22b;
        color: whitesmoke !important;
    }
    section#pricing>div.itempricing>section:hover>a{
        color: whitesmoke !important;
    }
}
@media (max-width: 540px){
    section#pricing{
        width: 90%;
        height: 1200px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        top:50px;
        left: 5%;
        text-align: center;
        margin-bottom: 300px;
    }
    section#pricing>div.itempricing{
        width: 45%;
        height: 450px;
        border: 3px #f3f5fa solid;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    section#pricing>div.itempricing>div{
        width: 100%;
        height: 150px;
        background-color: #f3f5fa;
        padding-top:50px ;
    }
    section#pricing>div.itempricing>div>i{
        color: #1f1f34;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
    section#pricing>div.itempricing>div>div{
        display: flex;
        justify-content: center;
        color: #1f1f34;
    }
    section#pricing>div.itempricing>div>div>h1{
        font-size: 40px;
    }
    section#pricing>div.itempricing>div>div>h4{
        margin-top: 20px;
    }
    section#pricing>div.itempricing>h5{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #5e5e70;
        font-size: 18px;
    }
    section#pricing>div.itempricing>section{
        width: 120px;
        height: 40px;
        text-align: center;
        color: #5e5e70;
        margin: 20px auto;
        background-color: #f1f6f1;
        border-radius:5px;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section>a{
        font-size: 16px;
        line-height:40px;
        text-decoration: none;
        transition: 300ms;
    }
    section#pricing>div.itempricing>section:hover{
        background-color: #7dc22b;
        color: whitesmoke !important;
    }
    section#pricing>div.itempricing>section:hover>a{
        color: whitesmoke !important;
    }
}