@media (min-width:1200px) {
  section>section.mobileMenu{
    display: none;
  }
  section>section.header1{
    width: 100%;
    height: 100px;
    background-color: #070c0c;
    position: relative;
  }
  section>section.header1>div:nth-of-type(1){
    width: 90px;
    height: 35px ;
    position: absolute;
    top: 50px;
    left: 140px;
  }
  section>section.header1>div:nth-of-type(1)>img{
    width: 90px;
    height: 35px ;
  }
  section>section.header1>section.menu{
    width: 80%;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 10%;
  }
  section>section.header1>section.menu>nav{
    width: 100%;
    height: inherit;
  }
  section>section.header1>section.menu>nav>ul{
    width: 100%;
    height: inherit;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  section>section.header1>section.menu>nav>ul>li{
    width: auto;
    height: inherit;
    transition: all 200ms linear;
  }

  section>section.header1>section.menu>nav>ul>li:hover{
    background-color:#1f1f34;
  }
  section>section.header1>section.menu>nav>ul>li>a{
    width: auto;
    height: inherit;
    padding: 0 30px;
    box-sizing: border-box;
    text-decoration: none;
    line-height:40px;
    color: whitesmoke;
    text-transform: capitalize;
    font-family: Rockwell;
  }
  section>section.header1>div:nth-of-type(2){
    position: absolute;
    right: 150px;
    top: 60px;
    width: 20px;
    height: 20px;
  }
  section>section.header1>div:nth-of-type(2)>img{
    width: 20px;
    height: 20px;
  }
}
@media (min-width:990px) and (max-width:1200px){
  section>section.mobileMenu{
    display: none;
  }
  section>section.header1{
    width: 100%;
    height: 100px;
    background-color: #070c0c;
    position: relative;
  }
  section>section.header1>div:nth-of-type(1){
    width: 90px;
    height: 35px ;
    position: absolute;
    top: 50px;
    left: 140px;
  }
  section>section.header1>div:nth-of-type(1)>img{
    width: 90px;
    height: 35px ;
  }
  section>section.header1>section.menu{
    width: 80%;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 10%;
  }
  section>section.header1>section.menu>nav{
    width: 100%;
    height: inherit;
  }
  section>section.header1>section.menu>nav>ul{
    width: 100%;
    height: inherit;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  section>section.header1>section.menu>nav>ul>li{
    width: auto;
    height: inherit;
    transition: all 200ms linear;
  }

  section>section.header1>section.menu>nav>ul>li:hover{
    background-color:#1f1f34;
  }
  section>section.header1>section.menu>nav>ul>li>a{
    width: auto;
    height: inherit;
    padding: 0 30px;
    box-sizing: border-box;
    text-decoration: none;
    line-height:40px;
    color: whitesmoke;
    text-transform: capitalize;
    font-family: Rockwell;
  }
  section>section.header1>div:nth-of-type(2){
    position: absolute;
    right: 150px;
    top: 60px;
    width: 20px;
    height: 20px;
  }
  section>section.header1>div:nth-of-type(2)>img{
    width: 20px;
    height: 20px;
  }




}
@media (min-width:768px) and (max-width:990px){
  section > section.header1 {
    display: none;
  }
  // ---------------------------
  // Vars & Helper Functions
  // ---------------------------

  :root {
    //--screen-width:     540px;
    --screen-height:    1000px;
    --header-bg-color: #1f1f34 ;
    --splash-bg-color:  #1f1f34;
  }

  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(1){
    width: 90px;
    height: 35px ;
    position: absolute;
    top: 20px;
    left: 50px;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(1)>img{
    width: 90px;
    height: 35px ;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(2){
    position: absolute;
    right: 75px;
    top: 30px;
    width: 20px;
    height: 20px;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(2)>img{
    width: 20px;
    height: 20px;
  }
  // calculate a circle's circumference based on radius
  @function circumference($r){
    $pi: 3.141592653;
    @return 2*$pi*$r;
  }


  // ---------------------------
  // Main Navigation Menu
  // ---------------------------

  .nav {

    // Toggle Button
    &__toggle {
      display:inline-block;
      position:absolute;
      z-index:10;
      padding:0;
      border:0;
      background:transparent;
      outline:0;
      right:15px;
      top:15px;
      cursor:pointer;
      border-radius:50%;
      transition:background-color .15s linear;

      &:hover,
      &:focus {
        background-color:rgba(0,0,0,.5);
      }
    }

    &__menu {
      display:flex;
      flex-direction:column;
      justify-content:center;
      height:var(--screen-height);
      position:relative;
      z-index:5;
      visibility:hidden;
    }

    &__item {
      opacity:0;
      transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
      position:relative;
      top: -100px;
    }
    @for $i from 1 through 5 {
      &__item:nth-child(#{$i}){
        transform:translateY(-40px * $i);
      }
    }

    &__link {
      color:white;
      display:block;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:5px;
      font-size:1.25rem;
      text-decoration:none;
      padding:1rem;

      &:hover,
      &:focus {
        outline:0;
        background-color:rgba(0,0,0,0.2);
      }
    }
  }


  // ---------------------------
  // SVG Menu Icon
  // ---------------------------

  .menuicon {
    display:block;
    cursor:pointer;
    color: white;

    transform:rotate(0deg);
    transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    &__bar,
    &__circle {
      fill:none;
      stroke: currentColor;
      stroke-width:3;
      stroke-linecap:round;
    }
    &__bar {
      transform: rotate(0deg);
      transform-origin:50% 50%;
      transition: transform .25s ease-in-out;
    }
    &__circle {
      transition: stroke-dashoffset .3s linear .1s;
      stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
      stroke-dasharray:circumference(23);
    }
  }


  // ---------------------------
  // Circular Splash Background
  // ---------------------------

  .splash {
    position:absolute;
    top:40px;
    right:40px;
    width: 1px;
    height: 1px;

    &::after {
      content:"";
      display:block;
      position:absolute;
      border-radius:50%;
      background-color:var(--splash-bg-color);

      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width:284vmax;
      height:284vmax;
      top:-142vmax;
      left:-142vmax;

      transform: scale(0);
      transform-origin:50% 50%;
      transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

      // will-change tells the browser we plan to
      // animate this property in the near future
      will-change:transform;
    }
  }


  // ---------------------------
  // Active State
  // ---------------------------

  .nav:target,
  .nav--open {

    //scale the background circle to full size
    > .splash::after {
      transform:scale(1);
    }

    //animate the menu icon
    .menuicon {
      color:white;
      transform:rotate(180deg);

      &__circle {
        stroke-dashoffset:0;
      }
      &__bar:nth-child(1),
      &__bar:nth-child(4) {
        opacity:0;
      }
      &__bar:nth-child(2) {
        transform: rotate(45deg);
      }
      &__bar:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    //show the nav items
    .nav {
      &__menu {
        visibility:visible;
      }

      &__item {
        opacity:1;
        transform:translateY(0);
      }
    }
  }

  // ---------------------------
  // Demo Stuff, Ignore
  // ---------------------------

  body {
    background-color:#D7D7D7;
    font-family: 'Roboto';
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .viewport {
    width:var(--screen-width);
    height:var(--screen-height);
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background-color:white;
  }

  .header {
    height:5rem;
    background-color:var(--header-bg-color);
  }

  .main {
    padding:20px;
  }

  .gallery {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    grid-gap:20px;

    &__item {
      height:100%;
      background-color:#D8D8D8;

      &:hover,
      &:focus {
        background-color:#A4A4A4;
      }
    }
  }
}
@media (min-width:540px) and (max-width:768px){
  section > section.header1 {
    display: none;
  }
  // ---------------------------
  // Vars & Helper Functions
  // ---------------------------

  :root {
    //--screen-width:     540px;
    --screen-height:    1000px;
    --header-bg-color: #1f1f34 ;
    --splash-bg-color: #000000;
  }

  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(1){
    width: 90px;
    height: 35px ;
    position: absolute;
    top: 20px;
    left: 50px;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(1)>img{
    width: 90px;
    height: 35px ;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(2){
    position: absolute;
    right: 75px;
    top: 30px;
    width: 20px;
    height: 20px;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(2)>img{
    width: 20px;
    height: 20px;
  }
  // calculate a circle's circumference based on radius
  @function circumference($r){
    $pi: 3.141592653;
    @return 2*$pi*$r;
  }


  // ---------------------------
  // Main Navigation Menu
  // ---------------------------

  .nav {

    // Toggle Button
    &__toggle {
      display:inline-block;
      position:absolute;
      z-index:10;
      padding:0;
      border:0;
      background:transparent;
      outline:0;
      right:15px;
      top:15px;
      cursor:pointer;
      border-radius:50%;
      transition:background-color .15s linear;

      &:hover,
      &:focus {
        background-color:rgba(0,0,0,.5);
      }
    }

    &__menu {
      display:flex;
      flex-direction:column;
      justify-content:center;
      height:var(--screen-height);
      position:relative;
      z-index:5;
      visibility:hidden;
    }

    &__item {
      opacity:0;
      transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
      position:relative;
      top: -100px;
    }
    @for $i from 1 through 5 {
      &__item:nth-child(#{$i}){
        transform:translateY(-40px * $i);
      }
    }

    &__link {
      color:white;
      display:block;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:5px;
      font-size:1.25rem;
      text-decoration:none;
      padding:1rem;

      &:hover,
      &:focus {
        outline:0;
        background-color:rgba(0,0,0,0.2);
      }
    }
  }


  // ---------------------------
  // SVG Menu Icon
  // ---------------------------

  .menuicon {
    display:block;
    cursor:pointer;
    color: white;

    transform:rotate(0deg);
    transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    &__bar,
    &__circle {
      fill:none;
      stroke: currentColor;
      stroke-width:3;
      stroke-linecap:round;
    }
    &__bar {
      transform: rotate(0deg);
      transform-origin:50% 50%;
      transition: transform .25s ease-in-out;
    }
    &__circle {
      transition: stroke-dashoffset .3s linear .1s;
      stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
      stroke-dasharray:circumference(23);
    }
  }


  // ---------------------------
  // Circular Splash Background
  // ---------------------------

  .splash {
    position:absolute;
    top:40px;
    right:40px;
    width: 1px;
    height: 1px;

    &::after {
      content:"";
      display:block;
      position:absolute;
      border-radius:50%;
      background-color:var(--splash-bg-color);

      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width:284vmax;
      height:284vmax;
      top:-142vmax;
      left:-142vmax;

      transform: scale(0);
      transform-origin:50% 50%;
      transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

      // will-change tells the browser we plan to
      // animate this property in the near future
      will-change:transform;
    }
  }


  // ---------------------------
  // Active State
  // ---------------------------

  .nav:target,
  .nav--open {

    //scale the background circle to full size
    > .splash::after {
      transform:scale(1);
    }

    //animate the menu icon
    .menuicon {
      color:white;
      transform:rotate(180deg);

      &__circle {
        stroke-dashoffset:0;
      }
      &__bar:nth-child(1),
      &__bar:nth-child(4) {
        opacity:0;
      }
      &__bar:nth-child(2) {
        transform: rotate(45deg);
      }
      &__bar:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    //show the nav items
    .nav {
      &__menu {
        visibility:visible;
      }

      &__item {
        opacity:1;
        transform:translateY(0);
      }
    }
  }

  // ---------------------------
  // Demo Stuff, Ignore
  // ---------------------------

  body {
    background-color:#D7D7D7;
    font-family: 'Roboto';
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .viewport {
    width:var(--screen-width);
    height:var(--screen-height);
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background-color:white;
  }

  .header {
    height:5rem;
    background-color:var(--header-bg-color);
  }

  .main {
    padding:20px;
  }

  .gallery {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    grid-gap:20px;

    &__item {
      height:100%;
      background-color:#D8D8D8;

      &:hover,
      &:focus {
        background-color:#A4A4A4;
      }
    }
  }
}
@media (max-width:540px) {
  section > section.header1 {
    display: none;
  }
  // ---------------------------
  // Vars & Helper Functions
  // ---------------------------

  :root {
    //--screen-width:     540px;
    --screen-height:    1000px;
    --header-bg-color: #1f1f34 ;
    --splash-bg-color: #1f1f34;
  }


  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(1){
    width: 90px;
    height: 35px ;
    position: absolute;
    top: 20px;
    left: 50px;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(1)>img{
    width: 90px;
    height: 35px ;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(2){
    position: absolute;
    right: 75px;
    top: 30px;
    width: 20px;
    height: 20px;
  }
  section>section.mobileMenu>div.viewport>header.header>div:nth-of-type(2)>img{
    width: 20px;
    height: 20px;
  }
  // calculate a circle's circumference based on radius
  @function circumference($r){
    $pi: 3.141592653;
    @return 2*$pi*$r;
  }


  // ---------------------------
  // Main Navigation Menu
  // ---------------------------

  .nav {

    // Toggle Button
    &__toggle {
      display:inline-block;
      position:absolute;
      z-index:10;
      padding:0;
      border:0;
      background:transparent;
      outline:0;
      right:15px;
      top:15px;
      cursor:pointer;
      border-radius:50%;
      transition:background-color .15s linear;

      &:hover,
      &:focus {
        background-color:rgba(0,0,0,.5);
      }
    }

    &__menu {
      display:flex;
      flex-direction:column;
      justify-content:center;
      height:var(--screen-height);
      position:relative;
      z-index:5;
      visibility:hidden;
    }

    &__item {
      opacity:0;
      transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
      position:relative;
      top: -100px;
    }
    @for $i from 1 through 5 {
      &__item:nth-child(#{$i}){
        transform:translateY(-40px * $i);
      }
    }

    &__link {
      color:white;
      display:block;
      text-align:center;
      text-transform:uppercase;
      letter-spacing:5px;
      font-size:1.25rem;
      text-decoration:none;
      padding:1rem;

      &:hover,
      &:focus {
        outline:0;
        background-color:rgba(0,0,0,0.2);
      }
    }
  }


  // ---------------------------
  // SVG Menu Icon
  // ---------------------------

  .menuicon {
    display:block;
    cursor:pointer;
    color: white;

    transform:rotate(0deg);
    transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

    &__bar,
    &__circle {
      fill:none;
      stroke: currentColor;
      stroke-width:3;
      stroke-linecap:round;
    }
    &__bar {
      transform: rotate(0deg);
      transform-origin:50% 50%;
      transition: transform .25s ease-in-out;
    }
    &__circle {
      transition: stroke-dashoffset .3s linear .1s;
      stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
      stroke-dasharray:circumference(23);
    }
  }


  // ---------------------------
  // Circular Splash Background
  // ---------------------------

  .splash {
    position:absolute;
    top:40px;
    right:40px;
    width: 1px;
    height: 1px;

    &::after {
      content:"";
      display:block;
      position:absolute;
      border-radius:50%;
      background-color:var(--splash-bg-color);

      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width:284vmax;
      height:284vmax;
      top:-142vmax;
      left:-142vmax;

      transform: scale(0);
      transform-origin:50% 50%;
      transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);

      // will-change tells the browser we plan to
      // animate this property in the near future
      will-change:transform;
    }
  }


  // ---------------------------
  // Active State
  // ---------------------------

  .nav:target,
  .nav--open {

    //scale the background circle to full size
    > .splash::after {
      transform:scale(1);
    }

    //animate the menu icon
    .menuicon {
      color:white;
      transform:rotate(180deg);

      &__circle {
        stroke-dashoffset:0;
      }
      &__bar:nth-child(1),
      &__bar:nth-child(4) {
        opacity:0;
      }
      &__bar:nth-child(2) {
        transform: rotate(45deg);
      }
      &__bar:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    //show the nav items
    .nav {
      &__menu {
        visibility:visible;
      }

      &__item {
        opacity:1;
        transform:translateY(0);
      }
    }
  }

  // ---------------------------
  // Demo Stuff, Ignore
  // ---------------------------

  body {
    background-color:#D7D7D7;
    font-family: 'Roboto';
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .viewport {
    width:var(--screen-width);
    height:var(--screen-height);
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background-color:white;
  }

  .header {
    height:5rem;
    background-color:var(--header-bg-color);
  }

  .main {
    padding:20px;
  }

  .gallery {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    grid-gap:20px;

    &__item {
      height:100%;
      background-color:#D8D8D8;

      &:hover,
      &:focus {
        background-color:#A4A4A4;
      }
    }
  }
}
